RewriteEngine On

<Files ".env">
    Require all denied
</Files>

RewriteRule ^database(/|$) - [F,L]

RewriteRule ^config(/|$) - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^ public/index.php [QSA,L]

